<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-link" href="/"><i class="fal fa-home"></i> Home</a>
            <a class="nav-link" href="/campgrounds"><i class="fal fa-campground"></i> Campgrounds</a>
            <a class="nav-link" href="/campgrounds/new"><i class="fal fa-plus"></i> New Campground</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if (!currentUser) { %>
            <a class="nav-link" href="/login"><i class="fal fa-sign-in-alt"></i> Log In</a>
            <a class="nav-link" href="/register"><i class="fal fa-user-plus"></i> Sign Up</a>
          <% } else { %>
            <a class="nav-link" href="/logout"><i class="fal fa-sign-out"></i> Log Out</a>
          <% } %>
        </div>
    </div>
  </div>
  </nav>